# Copy this file to .env and fill in your values
# If MONGO_URI is left empty, an in-memory MongoDB will be used automatically.

MONGO_URI=
JWT_ACCESS_SECRET=hydrotrack_access_super_secret_change_me
JWT_REFRESH_SECRET=hydrotrack_refresh_super_secret_change_me
PORT=5001
NODE_ENV=development
